.heading
{
    font-family: 'Pacifico', cursive;
    color:white;
}
.name
{
    font-family: 'Pacifico', cursive;
    color:white;
    outline: none;
    background: none;
  border:none;
  font-size: 1em;
    
}
.name:focus
{
    outline: none;
    font-size: 1em;
    text-decoration-line: underline;
}
.time
{
    display: table;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Bitter', serif;
  letter-spacing:0;
color:white;
  font-size: 120pt;
  padding-bottom: 0;
  margin-bottom:-5%;
}
.focustxt
{
    display: table;
 
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-right: auto;
    margin-left: auto;
    font-size: xx-large;

}

.focusTxtBox
{
    display:table;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-right: auto;
    margin-left: auto;
    outline: none;
    background: none;
  width:70%;
  font-size: 30px;
  height: 50px;
  text-align: center;
  
  border: 0;
  wwidth: calc(100% - 100px);
  box-shadow: -6px 2px 0px -7px white, 4px 10px 0px -7px white;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;

}

.focusTxtBox:focus
{
    text-align: center;
    outline: none;
    font-size: 30px;
    outline: none;
  box-shadow: -6px 2px 0px -7px #ffeeee, 4px 10px 0px -7px #ffeeee;
}
.format
{
    background: none;
    font-family: 'Pacifico', cursive;
    color:white;
    border:none;
    min-width: 1.5em;
}
.format:focus
{
    outline: none;
    font-size: 1em;
    text-decoration-line: underline;
}
.footer {
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
   font-family: 'Roboto', sans-serif;
font-size: large;
  }

  .timeSubs
  {
    font-family: 'Bitter', serif;
    color:white;
  font-size: 20pt;

  }
  
.credits
{
  position: absolute; top: 0; right: 0; width: 300px; text-align:right;
  color: white;
  
}
.credits a{
    color: white;
    text-decoration: none;
}
.changeWall
{
    font-size: x-small;
}
.changeWall:hover
{
    cursor: pointer;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.body {
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    background-size:100% 100%;
    background-repeat: no-repeat;
}